:root {
    --board-space-size: 10rem;
    --clr-pri: rgb(124,252,0);
    --clr-sec-nums: 22,22,22;
    --clr-sec: rgb(22,22,22);
    font-size: 62.5%;
    font-family: "VT323", "Press Start 2P", monospace;
    background-color: var(--clr-sec);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}
body {
    height: 100%;
    width: 100%;
}

/*--HEADER START--*/
header {
    margin: 2rem 0;
    font-size: 1.6rem;
}
.players-container {
    display: flex;
    justify-content: space-around;
}
.game-info-wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}
.info-item {
    width: 18rem;
    height: 3rem;
    padding-left: .5rem;
    line-height: 3rem;
    text-align: justify;
    background: var(--clr-pri);
}
/* this is a hack to justify a single line */
.info-item::after {
    content: "";
    display: inline-block;
    width: 100%;
}
.info-detail {
    width: 9rem;
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    border: .5px solid var(--clr-sec);
}
/*--HEADER END--*/

/*--GAME BOARD START--*/
.game-board {
    --board-gap-size: 1rem;
    width: calc(var(--board-space-size) * 3 + var(--board-gap-size) * 2);
    margin: 4rem auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 1rem;
    color: var(--clr-pri);
    background: var(--clr-pri);
    user-select: none;
    -webkit-user-select: none;
}
/*--GAME BOARD END--*/

/*--GAME SPACE START--*/
.space {
    width: var(--board-space-size);
    height: var(--board-space-size);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    white-space: pre-wrap;
    color: var(--clr-pri);
    outline: none;
    border: none;
    background: var(--clr-sec);
    cursor: pointer;
    touch-action: manipulation;
}
.space:hover {
    background: var(--clr-pri);
    color: var(--clr-sec);
}
/*--GAME SPACE END--*/

/*--CONTROLS START--*/
.buttons-wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.control-button {
    margin: .5rem;
    padding: .5rem;
    width: 11rem;
    height: 5.5rem;
    border: .2rem solid var(--clr-pri);
    font-size: 2rem;
    text-align: center;
    color: var(--clr-pri);
    background: var(--clr-sec);
    cursor: pointer;
}
@media (hover: hover) {
    .control-button:hover {
        background: var(--clr-pri);
        color: var(--clr-sec);
    }
}
.control-button:active {
    color: var(--clr-pri);
}
/*--CONTROLS END--*/

/*--FORM START--*/
.invisible {
    visibility: hidden;
    opacity: 0;
}
form {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 3rem;
    font-size: 2rem;
    color: var(--clr-pri);
    background: var(--clr-sec);
    transition: all .2s;
}
.player-form-group {
    margin: 2.6rem 0;
}
h2 {
    margin-bottom: 1.2rem;
}
.label-input-wrapper,
.radio-wrapper {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}
.radio-wrapper {
    align-items: flex-start;
}
.input-label,
.radio-label,
.radio-legend {
    margin-right: 1rem;
}
input[type="text"] {
    padding: .3rem .5rem;
    height: 3.3rem;
    border: .2rem dashed transparent;
    border-radius: 0;
    border-bottom-color: var(--clr-pri);
    font-size: inherit;
    background: var(--clr-sec);
    color: var(--clr-pri);
}
input[type="text"]:focus {
    outline: none;
    border: .2rem solid var(--clr-pri);
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + .styled-checkbox {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    border: .2rem solid var(--clr-pri);
    font-size: 1.6rem;
}
input[type="checkbox"]:checked + .styled-checkbox::after {
    position: absolute;
    top: -.2rem;
    left: -.2rem;
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
    height: 1.6rem;
    background: var(--clr-pri);
}
.warning {
    margin-left: 1rem;
    font-size: 1.6rem;
    align-self: center;
    color: red;
}
input[type="radio"] {
    display: none;
}
.radio-label {
    margin-right: 1.5rem;
    padding-bottom: .5rem;
    height: 2.6rem;
    border-bottom: .2rem solid transparent;
    cursor: pointer;
}
input[type="radio"]:checked + .radio-label {
    border-bottom-color: inherit;
}
.greyed-out {
    color: grey;
    border-bottom-color: grey;
    pointer-events: none;
}
/*--FORM END--*/

/*--FOOTER START--*/
/*--FOOTER END--*/