:root {
    --board-space-size: 10rem;
    --clr-pri: red;
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}
body {
    height: 100%;
    width: 100%;
}

/*--SIDEBAR START--*/
header {
    margin: 2rem 0;
    font-size: 1.2rem;
}
.players-container {
    display: flex;
    justify-content: space-around;
}
hr {
    margin: 1rem 0;
}
.player-info-wrapper {
    border: 1px solid black;
}
.game-info-wrapper {
    display: flex;
    justify-content: space-around;
}
.info-item {
    width: 18rem;
    height: 3rem;
    line-height: 3rem;
    text-align: justify;
    background: lawngreen;
}
/* this is a hack to justify a single line */
.info-item::after {
    content: "";
    display: inline-block;
    width: 100%;
}
.info-detail {
    width: 10rem;
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    color: red;
    background: lightgreen;
}
.buttons-wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}
button {
    font-size: inherit;
}
/*--SIDEBAR END--*/

/*--GAME BOARD START--*/
.game-board {
    --board-gap-size: 1rem;
    width: calc(var(--board-space-size) * 3 + var(--board-gap-size) * 2);
    margin: auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 1rem;
    background: black;
    user-select: none;
}
/*--GAME BOARD END--*/

/*--GAME SPACE START--*/
.space {
    width: var(--board-space-size);
    height: var(--board-space-size);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    white-space: pre-wrap;
    background: var(--clr-pri);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 1s;
}
@media (hover: hover) {
    .space:hover {
        background: darkred;
    }
}

/*--GAME SPACE END--*/

/*--FOOTER START--*/
/*--FOOTER END--*/